@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #000000;
  --foreground: #ffffff; */
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background: linear-gradient(160deg, #0f0f0f 0%, #1a1a1a 60%, #0a0a0a 100%);
  font-family: "Sarabun", sans-serif;
}

h1,
p,
span {
  color: var(--foreground) !important;
}

input {
  color: var(--background) !important;
}

::placeholder {
  color: #6c7278 !important;
}

.stroked-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.input,
.btn {
  height: 2.5rem !important;
  min-height: 2.5rem !important;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  background-color: #171616ff !important;
}

body {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
